
/* can you go through every line of this document and make all of the font-size in my css code responsive?*/


/* create a background using background.jpg in the images folder */
body {
    background-image: url("/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* load the Hanken Grotesk font from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Hanken+Grotesk:200,400,600,700');

/* load poppins from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');



/* set Hanken Grotesk as the font for the body of the page */
body, p {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 16px;
    color: #ffffff;

}


/* set Poppins as h1 font */
.titleFont {
    font-family: 'Poppins', sans-serif;
    font-size: 84px;
    color: #ffffff;
}

.secondaryTitleFont {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 36px;
    color: #ffffff;
    font-weight: 300;
}

@import url('https://fonts.googleapis.com/css?family=inconsolata:200,400,700,900');

.inconsolata{
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    color: #ffffff;
    font-weight: 200;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300&display=swap');


.hMenuOption {
    font-family: 'Source Code Pro', monospace;
    font-size: 24px;
    font-weight: 200;
    color: #ffffff;

}

.hThreeOptionBody {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 26px;
    color: #ffffff;
    font-weight: 200;
}
.hThreeOptionHeader {
    font-family: 'Source Code Pro', monospace;
    font-size: 30px;
    color: #4399FF;
    font-weight: 200;
}

/* make a blue version of body h1 and h2 */
body.blue h1, body.blue h2 {
    color: #4399FF;
}

/* make a spacer that is 60 px tall */
.spacer {
    height: 5vh;
}


.spacer2 {
    height: 15vh;
}


/*----------NAV BAR----------*/
/* Style for the navigation bar */
  
.navbar {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: transparent;
    padding: 0px;
  }
  
  /* Style for the navigation bar options */
.navbar-option {
      border: 1px solid rgb(255, 255, 255);
      padding: 20px 50px;
      background-color: transparent;
      margin-right: 0em;
  }
.navbar-option-img {
    border: 1px solid rgb(255, 255, 255);
    padding: 10px 4vh;
    background-color: transparent;
    margin-right: 0em;

}
  /* Style for the active option */
.navbar-option.active {
    background-color: #f2f2f2;
  }
  
  /* Style for the links */
.navbar-option a {
    text-decoration: none;
  }

.titleTextBox {
    display: flex;
    justify-content: left;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (min-width: 576px) {
.col-sm-1-5 {
      flex-basis: calc(100% / 12 * 1.5);
      max-width: calc(100% / 12 * 1.5);
    }
  }
  
  @media (min-width: 576px) {
.col-sm-1-2 {
    flex-basis: calc(100% / 12 * 0.5);
    max-width: calc(100% / 12 * 0.5);
        }
    }

.my-col:hover {
    background-color: #fff; /* set background to white */
}
.text-hover:hover {
    color:#111
}
.no-underline {
    text-decoration: none;
  }
img-fluid2 {
    height: auto;
    width: 100%;
}
.img-fluid3 {
    height: 100%;
    width: 100%;
}

.gradient-text {
    background: linear-gradient(to right, #71E5FF, #005CC9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.no-padding {
    padding: 0 !important;
  }
  
  .no-padding-left {
    padding-left: 0 !important;
  }
  
  .no-padding-right {
    padding-right: 0 !important;
  }
  
  .image-container {
    overflow: hidden;
    width: 100vw; /* set the width of the container to the width of the viewport */
    height: 100vh; /* set the height of the container to the height of the viewport */
  }
  

  
/*-----BUTTON-----*/
.button-85 {
  padding: 1.2em 4em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 1.2rem;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #002bff,
    #00ffd5,
    #002bff
   
  );
  position: absolute;
  top: -4px;
  left: -4px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #191919;
  left: 0;
  top: 0;
  border-radius: 10px;
}
