

/* create a background using background.jpg in the images folder */
body {
    background-image: url("/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* load the Hanken Grotesk font from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Hanken+Grotesk:200,400,700');

/* load poppins from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');



/* set Hanken Grotesk as the font for the body of the page */
body, p {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 16px;
    color: #ffffff;

}


/* set Poppins as h1 font */
.titleFont {
    font-family: 'Poppins', sans-serif;
    font-size: 84px;
    color: #ffffff;
}

.secondaryTitleFont {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 36px;
    color: #ffffff;
    font-weight: 300;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

.hMenuOption {
    font-family: 'Source Code Pro', monospace;
    font-size: 24px;
    font-weight: 200;
    color: #ffffff;

}

.hThreeOptionBody {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 26px;
    color: #ffffff;
    font-weight: 200;
}
.hThreeOptionHeader {
    font-family: 'Source Code Pro', monospace;
    font-size: 30px;
    color: #4399FF;
    font-weight: 200;
}

/* make a blue version of body h1 and h2 */
body.blue h1, body.blue h2 {
    color: #4399FF;
}

/* make a spacer that is 60 px tall */
.spacer {
    height: 5vh;
}


.spacer2 {
    height: 15vh;
}


/*----------NAV BAR----------*/
/* Style for the navigation bar */
  
.navbar {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: transparent;
    padding: 0px;
  }
  
  /* Style for the navigation bar options */
.navbar-option {
      border: 1px solid rgb(255, 255, 255);
      padding: 20px 50px;
      background-color: transparent;
      margin-right: 0em;
  }
.navbar-option-img {
    border: 1px solid rgb(255, 255, 255);
    padding: 10px 4vh;
    background-color: transparent;
    margin-right: 0em;

}
  /* Style for the active option */
.navbar-option.active {
    background-color: #f2f2f2;
  }
  
  /* Style for the links */
.navbar-option a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }

.titleTextBox {
    display: flex;
    justify-content: left;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (min-width: 576px) {
.col-sm-1-5 {
      flex-basis: calc(100% / 12 * 1.5);
      max-width: calc(100% / 12 * 1.5);
    }
  }
  
  @media (min-width: 576px) {
.col-sm-1-2 {
    flex-basis: calc(100% / 12 * 0.5);
    max-width: calc(100% / 12 * 0.5);
        }
    }
      
    
